.searchBar__container {
  width: fit-content;
  .searchBar__form {
    display: flex;
    /*  flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; */
    border: 2px solid black;
    .searchBar__movieGenreSelect {
      display: flex;
      background-color: #121212;
      border: none;
      height: 30px;
      width: 80px;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      padding-top: 7px;
      option {
        justify-content: center;
      }
    }
    .searchBar__inputLabel {
      .searchBar__input {
        background-color: #121212;
        border: none;
        height: 30px;
        padding-left: 10px;
      }
    }
    .searchBar__button {
    }
  }
}
